{% extends 'base.html.twig' %}

{% block title %}List Produits {% endblock %}

{% block ss %}
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/shop_responsive.css">
{% endblock %}

{% block body %}


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-12">
            <p>
            <h1>Lister les produits</h1>
            <div class="pull-left"><a href="{{ path('admin.produit') }}"><button type="button" class="btn btn-primary">Liste produits</button></a></div>
            </p>
            <p>
            <h1>Lister les utilisateurs</h1>
            <div class="fa-pull-left"><a href="{{ path('admin.users') }}"><button type="button" class="btn btn-primary">Liste Utilisateur</button></a></div>
            </p>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
    <script src="plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="js/shop_custom.js"></script>
{% endblock %}